body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family:'Open Sans', sans-serif;
  color: #833627;
  font-size: 38px;
  line-height: 1.2em;
  font-weight: 700;
  text-align: left;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  color: grey;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.4em;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.section-1 {
  padding-top: 77px;
  padding-bottom: 77px;
}
.at-a-glance {
  padding: 10px 23px 23px;
  background-color: rgba(27, 117, 187, 0.14);
}
.section-title {
  margin-top: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-image: url('../images/SC_ataglance.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  color: #1b75bb;
}
.section-title.at-a-glance-h2 {
  color: #1b75bb;
}
.section-title.steps-h2 {
  background-image: url('../images/SC_steps.png');
}
.section-title.assets-h2 {
  background-image: url('../images/SC_assets.png');
}
.section-title.resources {
  background-image: url('../images/SC-logo_resources.jpg');
}
.section-title.comments-sec {
  background-image: none;
}
.list {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 1.4em;
}
.p {
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.4em;
}
.asset-block {
  padding-top: 22px;
}
.lesson {
  padding-top: 47px;
}
.navbar {
  height: 84px;
  padding-top: 10px;
  background-color: #833627;
}
.navlink {
  background-image: url('../images/SC_browse_button.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 17px;
}
.navlink.new-lesson {
  margin-top: 44px;
  background-image: url('../images/SC_new_button.png');
}
.navlink.browse-lesson {
  margin-top: 44px;
}
.brand-img {
  float: left;
}
.brand-text {
  padding-top: 37px;
  padding-left: 15px;
  float: left;
  font-family: HaymakerRegular, Bitter, serif;
  color: white;
  font-size: 47px;
  text-transform: uppercase;
}
.profile-sec {
  margin-bottom: 12px;
  padding: 18px;
  background-image: url('../images/SC_authorbox.png');
  background-size: 60%;
  background-repeat: no-repeat;
}
.profile-img {
  margin-left: 0px;
  padding-right: 16px;
  float: left;
}
.profile-name {
  font-family:'Open Sans', sans-serif;
  color: #833627;
  font-size: 16px;
  font-weight: 600;
}
.profile-list {
  color: #333;
}
.profile-link {
  font-family:'Open Sans', sans-serif;
  color: #1b75bb;
}
.profile-info {
  margin: 0px;
}
.med-text {
  font-size: 16px;
}
.link {
  color: #1b75bb;
}
.side-nav {
  position: fixed;
  text-align: center;
}
.on-this-page {
  font-family:'Open Sans', sans-serif;
  color: #833627;
  font-weight: 300;
  text-transform: uppercase;
}
.sn-link {
  width: 181px;
  height: 56px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url('../images/SC_button_ataglance.png');
  text-decoration: none;
}
.sn-link.assets-a {
  background-image: url('../images/SC_button_assets.png');
  background-repeat: no-repeat;
}
.sn-link.resources-a {
  background-image: url('../images/SC_button_resources.png');
  background-repeat: no-repeat;
}
.sn-link.comments-a {
  background-image: url('../images/SC_button_comments.png');
  background-repeat: no-repeat;
}
.sn-link.remix-a {
  background-image: url('../images/SC_button_remix.png');
  background-repeat: no-repeat;
}
.side-col {
  text-align: center;
}
.at-a-glance-a {
  height: 47px;
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  color: rgba(51, 51, 51, 0);
}
.at-a-glance-a.remix-bar {
  padding-top: 41px;
}
.steps-a {
  background-image: url('../images/SC_button_steps.png');
  background-repeat: no-repeat;
}
.sn-list {
  background-image: url('../images/SC_post.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.callout-sec {
  max-height: 237px;
  margin-top: 10px;
  padding-top: 37px;
  background-color: #1b75bb;
}
.callout-h1 {
  color: white;
  font-size: 51px;
  line-height: 1.3em;
}
.hero-map {
  width: 100%;
  margin-top: -32px;
}
.lessons-sec {
  padding-top: 48px;
}
.home-h2 {
  font-family:'Open Sans', sans-serif;
  color: #833627;
}
.home-link {
  font-family:'Open Sans', sans-serif;
  color: #1b75bb;
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 700;
}
.home-link:hover {
  color: #359ed8;
}
.home-link.more {
  color: #359ed8;
}
.home-list {
  font-size: 18px;
  line-height: 1.8em;
}
.make-button {
  margin-top: 44px;
  margin-bottom: 30px;
  font-family:'Open Sans', sans-serif;
  font-size: 28px;
  text-align: center;
}
.footer-link {
  padding-right: 0px;
  font-family:'Open Sans', sans-serif;
  color: #833627;
  font-size: 16px;
  line-height: 2em;
  font-weight: 700;
}
.dot {
  display: inline-block;
  padding-right: 8px;
  padding-left: 8px;
  font-family:'Open Sans', sans-serif;
  color: #833627;
  font-size: 18px;
  font-weight: 800;
}
.footer-text {
  font-family:'Open Sans', sans-serif;
  color: #833627;
  font-size: 16px;
}
.callout-link {
  padding-right: 23px;
  font-family:'Open Sans', sans-serif;
  font-size: 20px;
  text-decoration: none;
}
.footer {
  padding-top: 14px;
  padding-bottom: 25px;
  background-color: rgba(131, 54, 39, 0.14);
}
@media (max-width: 991px) {
  .callout-h1 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .hero-map {
    display: none;
  }
}
@media (max-width: 479px) {
  .brand-text {
    font-size: 22px;
  }
  .callout-h1 {
    font-size: 28px;
  }
}
