body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family:'Open Sans', sans-serif;
  color: #833627;
  font-size: 38px;
  line-height: 1.2em;
  font-weight: 700;
  text-align: left;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  color: #1B75BB;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.4em;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.section-1 {
  padding-top: 77px;
  padding-bottom: 77px;
}
.at-a-glance {
  padding: 10px 23px 23px;
  background-color: rgba(27, 117, 187, 0.14);
}
.section-title {
  margin-top: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-image: url('../images/SC_ataglance.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  color: #1b75bb;
}
.section-title.at-a-glance-h2 {
  color: #1b75bb;
}
.section-title.steps-h2 {
  background-image: url('../images/SC_steps.png');
}
.section-title.assets-h2 {
  background-image: url('../images/SC_assets.png');
}
.section-title.resources {
  background-image: url('../images/SC-logo_resources.png');
}
.section-title.comments-sec {
  background-image: url('../images/SC_comments.png');
}
.section-title.personal-h2 {
  background-image: url('../images/SC_clipboard.png');
  background-size: 46px auto;
}
.list {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 1.4em;
}
.p {
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.4em;
}
.asset-block {
  padding-top: 22px;
}
.lesson {
  padding-top: 47px;
}
.navbar {
  height: 84px;
  padding-top: 10px;
  background-color: #833627;
}
.navlink {
  background-image: url('../images/SC_browse_button.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 16px;
}
.navlink.new-lesson {
  margin-top: 44px;
  background-image: url('../images/SC_new_button.png');
}
.navlink.browse-lesson {
  margin-top: 44px;
}
.brand-img {
  float: left;
}
.brand-text {
  padding-top: 37px;
  padding-left: 15px;
  float: left;
  font-family: HaymakerRegular, Bitter, serif;
  color: white;
  font-size: 47px;
  text-transform: uppercase;
}
.profile-sec {
  margin-bottom: 12px;
  padding: 18px;
  background-image: url('../images/SC_authorbox.png');
  background-size: 60%;
  background-repeat: no-repeat;
}
.profile-img {
  margin-left: 0px;
  padding-right: 16px;
  float: left;
}
.profile-name {
  font-family:'Open Sans', sans-serif;
  color: #833627;
  font-size: 18px;
  font-weight: 600;
}
.profile-list {
  color: #333;
}
.profile-link {
  font-family:'Open Sans', sans-serif;
  font-weight: 600;
  color: #1b75bb;
}
.profile-link:hover {
	color: #359ED8;
}

.profile-info {
  margin: 0px;
}
.med-text {
  font-size: 16px;
}
.link {
  color: #1b75bb;
}
.side-nav {
  position: fixed;
  text-align: center;
}
.on-this-page {
  font-family:'Open Sans', sans-serif;
  color: #833627;
  font-weight: 300;
  text-transform: uppercase;
}
.sn-link {
  width: 181px;
  height: 56px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url('../images/SC_button_ataglance.png');
  text-decoration: none;
}
.sn-link.assets-a {
  background-image: url('../images/SC_button_assets.png');
  background-repeat: no-repeat;
}
.sn-link.resources-a {
  background-image: url('../images/SC_button_resources.png');
  background-repeat: no-repeat;
}
.sn-link.comments-a {
  background-image: url('../images/SC_button_comments.png');
  background-repeat: no-repeat;
}
.sn-link.remix-a {
  background-image: url('../images/SC_button_remix.png');
  background-repeat: no-repeat;
}
.side-col {
  text-align: center;
}
.at-a-glance-a {
  height: 47px;
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  color: rgba(51, 51, 51, 0);
}
.at-a-glance-a.remix-bar {
  padding-top: 41px;
}
.steps-a {
  background-image: url('../images/SC_button_steps.png');
  background-repeat: no-repeat;
}
.sn-list {
  background-image: url('../images/SC_post.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-top: 15px;
}
.callout-sec {
  max-height: 237px;
  margin-top: 10px;
  padding-top: 37px;
  background-color: #1b75bb;
}
.callout-h1 {
  color: white;
  font-size: 51px;
  line-height: 1.3em;
}
.hero-map {
  width: 100%;
  margin-top: -32px;
}
.lessons-sec {
  padding: 48px 0;
}
.lesson-h2 {
  font-family:'Open Sans', sans-serif;
  color: #833627;
}
.lesson-link {
  font-family:'Open Sans', sans-serif;
  color: #1b75bb;
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 700;
}
.lesson-link:hover {
  color: #359ed8;
}
.lesson-link.more {
  color: #359ed8;
}
.lesson-list {
  font-size: 18px;
  line-height: 1.8em;
}
.make-button {
  margin-top: 44px;
  margin-bottom: 30px;
  font-family:'Open Sans', sans-serif;
  font-size: 28px;
  text-align: center;
}
.footer-link {
  padding-right: 0px;
  font-family:'Open Sans', sans-serif;
  color: #833627;
  font-size: 16px;
  line-height: 2em;
  font-weight: 700;
}
.dot {
  display: inline-block;
  padding-right: 8px;
  padding-left: 8px;
  font-family:'Open Sans', sans-serif;
  color: #833627;
  font-size: 18px;
  font-weight: 800;
}
.footer-text {
  font-family:'Open Sans', sans-serif;
  color: #833627;
  font-size: 16px;
}
.callout-link {
    background-image: url("../images/SC_browse_button_home.png");
    background-size: 100% auto;
    color: #1B75BB;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-right: 31px;
    padding: 10px 18px;
    text-decoration: none;
}
.footer {
  padding-top: 14px;
  padding-bottom: 25px;
  background-color: rgba(131, 54, 39, 0.14);
}

.arrow_box.step1 {
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
}
.arrow_box.step2 {
    margin: 19px 29px;
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
}
.arrow_box.step3 {
    margin: 21px 26px;
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
}
.arrow_box.step4 {
    margin: 20px 10px;
    transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
}
.step5 {
    margin: 20px 13px;
    transform: rotate(-1deg);
    width: 154px;
}
.arrow_box {
    background: none repeat scroll 0 0 #833627;
    color: #FFFFFF;
    font-family: HaymakerRegular,Bitter,serif;
    font-size: 21px;
    height: 46px;
    line-height: 42px;
    position: relative;
}
.arrow_box:hover {
	color: #833627;
	border-right: none;
}
.arrow_box:hover a {
	color: #833627;
}
.arrow_box:after, .arrow_box:before { 
	left: 100%; 
	top: 50%; 
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
} 
.arrow_box:hover:after, .arrow_box:hover:before { 
	left: 100%; 
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) #833627;
    border-width: 15px 16px 15px 7px;
    margin-top: -15px;
}

.arrow_box:before {
    border-color: rgba(194, 225, 245, 0) rgba(194, 225, 245, 0) rgba(194, 225, 245, 0) #833627;
    border-width: 23px 24px 23px 11px;
    margin-top: -23px;
}
.arrow_box:hover:after { 
}
.arrow_box a {
    color: #FFFFFF;
    line-height: 49px;
    padding: 11px 13px 8px;
    text-decoration: none;
}
.arrow_box a:hover {background: #fff; color: #833627;}
.arrow_box .w--current {background-color: #fff; color: #833627;}

.at-a-glance #summary {height: 63px;}
.at-a-glance #summary:focus {height: 100px; width: 100%;}
input, textarea {
    border: 2px solid #A3C7E4;
    font-size: 16px;
    line-height: normal;
    margin-bottom: 11px;
    padding: 4px 3px;
    transition: all 0s ease 0s, all 0.25s ease 0s;
    width: 360px;
}
input:hover, input:focus, textarea:hover, textarea:focus {border-color: #1B75BB;}
textarea {
    transition: all 0s ease 0s, all 0.75s ease 0s;	
}
.create textarea:focus {width: 75%; height: 200px;}
.submit-btn {
    background: none repeat scroll 0 0 #833627;
    border: medium none;
    border-radius: 5px;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    font-family: montserrat;
    font-size: 20px;
    margin-top: 28px;
    padding: 10px;
    transition: all 0.1s ease 0s;
    -webkit-transition: all 0.1s ease 0s;
    width: 35%;
}
.submit-btn:active {
    transform: translate(1px, 4px);
    -webkit-transform: translate(1px, 4px);
    box-shadow: none;
}
.add-step-btn {
    background-image: url("../images/SC_browse_button.png");
    color: #FFFFFF;
    display: block;
    font-family: montserrat;
    font-size: 16px;
    font-weight: 600;
    padding: 9px 9px 9px 5px;
    text-align: center;
    text-decoration: none;
    width: 150px;
}
.add-step-btn.resource {
    font-size: 14px;
    padding-left: 8px;
}
.add-step-btn:hover, .add-step-btn:focus {
	transform: rotate(1deg);
	-webkit-transform: rotate(1deg);
}
.add-step-btn:focus {
	transform: translate(0px,2px);
	-webkit-transform: translate(0px,2px); 
}
.step-number {
    background: none repeat scroll 0 0 rgba(27, 117, 187, 0.6);
    border-radius: 1px;
    color: #FFFFFF;
    font-family: montserrat;
    font-size: 10px;
    padding: 1px 5px;
    text-transform: uppercase;
}

.create-sec {
    background-color: rgba(27, 117, 187, 0.14);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px 23px 23px;
}
.new-lesson-btn {
    background-image: url("../images/SC_new_button_home.png");
    padding: 11px 18px;
}
.callout-link:hover, .navlink:hover, .add-step-btn:hover {
opacity: .9;
} 
.submit-btn:hover {
	background-color: #B65724;
}

@media (max-width: 991px) {
  .callout-h1 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .hero-map {
    display: none;
  }
}
@media (max-width: 479px) {
  .brand-text {
    font-size: 22px;
  }
  .callout-h1 {
    font-size: 28px;
  }
}
